a2a-sdk==0.3.20
absl-py==2.3.1
aio-pika==9.4.3
aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.10.11
aiormq==6.8.1
aioshutil==1.5
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.0
APScheduler==3.11.1
async-property==0.2.2
attrs==24.3.0
aws-msk-iam-sasl-signer-python==1.0.2
azure-core==1.36.0
azure-identity==1.24.0
azure-storage-blob==12.26.0
beautifulsoup4==4.14.3
bidict==0.23.1
boto3==1.40.76
botocore==1.40.76
CacheControl==0.14.4
cachetools==5.5.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==2.0.0
confluent-kafka==2.12.2
contourpy==1.3.3
cryptography==45.0.7
curl_cffi==0.13.0
cycler==0.12.1
dask==2024.8.2
dataclasses-json==0.6.7
demoji==1.1.0
Deprecated==1.3.1
deprecation==2.1.0
diskcache==5.6.3
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
et_xmlfile==2.0.0
faiss-cpu==1.11.0.post1
filelock==3.20.0
fire==0.7.1
fonttools==4.61.0
frozendict==2.4.7
frozenlist==1.8.0
fsspec==2025.12.0
google-api-core==2.28.1
google-auth==2.40.3
google-cloud-core==2.5.0
google-cloud-storage==2.14.0
google-crc32c==1.7.1
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
greenlet==3.3.0
grpcio==1.66.2
grpcio-health-checking==1.59.5
grpcio-tools==1.66.2
h11==0.16.0
h2==4.3.0
h5py==3.15.1
hf-xet==1.2.0
hpack==4.1.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface-hub==0.36.0
humanfriendly==10.0
hvac==2.3.0
hyperframe==6.1.0
idna==3.11
importlib_metadata==8.5.0
importlib_resources==6.5.2
isodate==0.7.2
Jinja2==3.1.6
jiter==0.12.0
jmespath==1.0.1
joblib==1.5.2
jsonpatch==1.33
jsonpickle==3.3.0
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jwcrypto==1.5.6
keras==3.12.0
kiwisolver==1.4.9
langchain==0.3.27
langchain-community==0.3.31
langchain-core==0.3.80
langchain-text-splitters==0.3.11
langcodes==3.5.1
langsmith==0.4.55
language_data==1.4.0
litellm==1.69.3
locket==1.0.0
lxml==6.0.2
marisa-trie==1.3.1
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.1
matplotlib==3.9.4
mcp==1.12.4
mdurl==0.1.2
ml_dtypes==0.5.4
mpmath==1.3.0
msal==1.34.0
msal-extensions==1.3.1
msgpack==1.1.2
multidict==6.7.0
multitasking==0.0.12
mypy_extensions==1.1.0
namex==0.1.0
networkx==3.1
numpy==2.1.3
openai==1.68.2
openpyxl==3.1.5
opentelemetry-api==1.33.1
opentelemetry-exporter-otlp==1.33.1
opentelemetry-exporter-otlp-proto-common==1.33.1
opentelemetry-exporter-otlp-proto-grpc==1.33.1
opentelemetry-exporter-otlp-proto-http==1.33.1
opentelemetry-proto==1.33.1
opentelemetry-sdk==1.33.1
opentelemetry-semantic-conventions==0.54b1
optree==0.18.0
orjson==3.11.4
packaging==23.2
pamqp==3.3.0
pandas==2.3.3
partd==1.4.2
peewee==3.18.3
pep440-version-utils==1.2.0
pillow==12.0.0
platformdirs==4.5.1
pluggy==1.6.0
ply==3.11
portalocker==2.10.1
prompt-toolkit==3.0.28
propcache==0.4.1
proto-plus==1.26.1
protobuf==5.29.5
psutil==5.9.8
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydot==1.4.2
Pygments==2.19.2
PyJWT==2.10.1
pykwalify==1.8.0
pymilvus==2.6.5
pymongo==4.10.1
pyparsing==3.2.5
pypred==0.4.0
pyreadline3==3.5.4
python-dateutil==2.8.2
python-dotenv==1.2.1
python-engineio==4.12.3
python-keycloak==5.8.1
python-multipart==0.0.20
python-socketio==5.15.0
pytz==2022.7.1
pywin32==311
PyYAML==6.0.3
qdrant-client==1.9.2
questionary==2.1.1
randomname==0.2.1
rasa-pro==3.14.0
rasa-sdk==3.14.0
redis==5.3.1
referencing==0.37.0
regex==2024.7.24
requests==2.32.5
requests-toolbelt==1.0.0
rich==14.1.0
rpds-py==0.30.0
rsa==4.9.1
ruamel.yaml==0.17.21
s3transfer==0.14.0
safetensors==0.4.5
sanic==22.12.0
Sanic-Cors==2.2.0
sanic-jwt==1.8.0
sanic-openapi==21.12.0
sanic-routing==22.8.0
scikit-learn==1.6.1
scipy==1.13.1
sentence-transformers==5.1.2
sentry-sdk==2.47.0
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
SQLAlchemy==2.0.44
sse-starlette==3.0.3
starlette==0.50.0
structlog==25.4.0
structlog-sentry==2.0.3
sympy==1.14.0
tarsafe==0.0.5
tenacity==8.4.2
termcolor==3.2.0
terminaltables==3.1.10
threadpoolctl==3.6.0
tiktoken==0.9.0
tokenizers==0.22.1
toolz==1.1.0
torch==2.9.1
tqdm==4.67.1
transformers==4.57.3
typer-slim==0.20.0
types-cachetools==6.2.0.20251022
types-protobuf==4.25.0.20240417
typing-inspect==0.9.0
typing-inspection==0.4.2
typing-utils==0.1.0
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
ujson==5.11.0
urllib3==2.6.0
uuid_utils==0.12.0
uvicorn==0.38.0
wcwidth==0.2.14
websockets==15.0.1
Werkzeug==3.1.4
wrapt==2.0.1
wsproto==1.3.2
yarl==1.22.0
yfinance==0.2.66
zipp==3.23.0
zstandard==0.25.0
